/* common - 공통으로 적용될 것들 */

/* 구글 웹폰트 한글 폰트로 노토 산스랑 영어 폰트로 로보트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* 아이콘 xeicon */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* 첫번째 꺼 Roboto 폰트하고, 나머지 적용안된 거는 Noto Sans KR 두번째꺼로, 또 적용안된 나머지는 sans-serif 세번째꺼로 */
body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 기본 룰 전역 셋팅해주기  */
.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg {
    background: #f9f9f9;
}

p {
    font-size: 16px;
    line-height: 20px;
}